blocks/*
blocks2/*
data/*
rapport/rapport.aux
rapport/rapport.log
rapport/rapport.out
rapport/rapport.pdf
rapport/rapport.synctex.gz
rapport/rapport.toc
rapport/missfont.log
pykernels/*
features_selection/*
kernels/tests*
kernels/doc*
kernels/pykernels/graph/data*
*~
*.pyc
*.npy