mais_code_MoinardPierre.zip
blocks/*
blocks2/*
data/*
envoie/kernels/*
envoie/kernels
envoie/data/*
envoie/data
rapport/rapport.aux
rapport/rapport.log
rapport/rapport.out
rapport/rapport.pdf
rapport/rapport.bbl
rapport/rapport.blg
rapport/rapport.synctex.gz
rapport/rapport.toc
rapport/missfont.log
rapport/mais_document_MoinardPierre.pdf
pykernels/*
features_selection/*
kernels/tests*
kernels/doc*
kernels/pykernels/graph/data*
*~
*.pyc
*.npy

